.city
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    text-align: center;
    padding: 0.5rem;
    gap: 1rem;

    & i{
        font-size: 1.3rem;
    }
    
}