footer
{
    background-color: #353535;
    color: white;
    padding: 1rem 2rem;
    h2
    {
        font-family: "Shrikhand" ,sans-serif;
        font-weight: 400;
        padding: 1rem 0;
    }
    p{
        padding: 0.4rem
        
    }


    
}


@media (min-width:1024px) {


    footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem;
    }

    footer h2 
    {
        order: 2;
        padding-left:2rem ;
    }

    
    

    
    
}