.menu
{

    background-color: #F6F6F6;
    /*margin-bottom: 2rem;*/
    padding: 0 1rem;
    @media (min-width:1024px) {
        padding: 0 6rem;
    }
    
    h2 
    {
        margin-bottom: 2rem;
    }
    
    .menu__card
    {

        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem 4rem;
        @media (max-width:800px) 
        {
            grid-template-columns: repeat(1,1fr);
            
        }

        .new
        {
            position: relative;
        }
        .new::before
        {
            content: "Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            background-color: #99E2D0;
            color: #008766;
            display: grid;
            place-items: center;
            right: 1rem;
            top: 1rem;

        }
        
    }

    .card
    {

        
        /*height: 4rem;
        flex-grow: 1;
        /*gggg
        min-width: 30rem;*/

         & .card_img
         {
            /*background-image: url("../images/restaurants/menu-1.jpg");*/
            height: 15rem;
            border-radius: 1rem 1rem 0 0 ;
            background-size: cover;
            background-position: center;
            
         }

         & .card_img_1{
            background-image: url("../images/restaurants/menu-1.jpg");
         }

         & .card_img_2{
            background-image: url("../images/restaurants/menu-2.jpg");
         }

         & .card_img_3{
            background-image: url("../images/restaurants/menu-3.jpg");
         }

         & .card_img_4{
            background-image: url("../images/restaurants/menu-4.jpg");
         }


         & .card_content
         {
            background-color: #ffffff;
            position: relative;
            border-radius: 0 0 1rem 1rem ;
            h3
            {
                /*margin: 0.5rem;*/
                padding-top: 1.3rem;
                padding-left: 0.9rem;
                
            }

            p
            {
                padding-top: 0.3rem;
                padding-bottom: 1rem;
                padding-left: 0.9rem;
            }
            i
            {
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }

            .fas
            {
                color: transparent;
                background-image:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%) ;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
                
            }
            &:hover .fas
            {
                opacity: 1;
                
            }
         }
    }
}