


@keyframes appear {
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}







.banner img
{
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center bottom;
    
}


header::before
        {
            /*display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing:antialiased;
            /*content: "f060";*/
        }

.icon-head
{
    display:block;

}        

.icon-head h1{
    text-align: center;
    font-family: Shrikhand,"cursive";
}

.icon-head i{
    left: 2rem;
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}




.container
{

    max-width: 1100px;
    margin: auto;
    padding: 1rem;

    
}



.card_second
{

        display: flex;
        justify-content: center;
        right: 2rem;        

    h2 
    
    {
        font-family: "shrikhand",cursive;
    }
    
    position: relative;

        i
            {
                font-size: 2rem;
                position: absolute;
                /*right: 1rem;*/
                
                top: 50%;
                transform: translateY(-50%);
            }

            /*.far
            {
                
                cursor: pointer;
                &:hover {
                    animation: fill 0.3s ease-in-out;
                    display: inline-block;
                    opacity: 1;
                    background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                    background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color:transparent;
                    font-weight: bold;
                }
            }*/

            .far
            {
               
                
               
                
                

            




                
            }

            #mycheckp:checked + #btn .far{
                animation: fill 0.3s ease-in-out;
                display: block;
                opacity: 1;
                background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                -webkit-background-clip: text;
                -webkit-text-fill-color :transparent;
                
                font-weight: bold;
                
                
            }


            #mycheckp
            {

                visibility: hidden
            }

}


.menus-grid
{
    /*background-color: yellow;*/
    display: grid;
    grid-template-columns:1fr;
    gap:1rem;
    
    /*&>*
    {
        
    }*/

    h3 
            {
                text-transform: uppercase;
                font-weight: 300;
                position: relative;

                &::after
                {
                    content: "";
                    height: 0.25rem;
                    width: 2.50rem;
                    background-color: #99E2D0;
                    position: absolute;
                    top: 1.5rem;
                    left: 0;
                }
            }
}


.categorys
{

    
}

.menus-category
{
    
    background-color:white;
    border-radius: 1rem;
    box-shadow: 2px 1px 7px -3px #c6c4c4;
    overflow: hidden;
    white-space: nowrap ;
    text-overflow: ellipsis;
    animation: appear 0.25s  ;
    animation-fill-mode: both;
    
    @for $i from 1 through 13
    {
        &:nth-child(#{$i})
        {
            animation-delay:90ms*$i  ;
        }
    }

    
    
    

    

    
    
    .menu-item
        {

            

            
            display: flex;
            overflow: hidden;
            white-space: nowrap ;
            text-overflow: ellipsis;
            



            
            
            /*background-color: #f3f3f3;*/
            
            .price
            {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display:flex;
                align-items: flex-end;                
            }
            .menu-description
            {
                padding: 1rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                h4,p 
                {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            

            .menu-check
            {
                display: grid;
                place-items: center;
                background-color: #99E2D0;
                margin-right: -3rem;
                flex-shrink: 0;
                width:3rem;
                border-radius: 0 1rem 1rem 0;
                transition: margin-right 0.5s;

                i 
                {
                    display: grid;
                    place-items: center;
                    width: 1.5rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background: #F6F6F6;
                    color:#99E2D0 ;
                }

            }


            &:hover .menu-check
            {
                margin-right: 0;
            }
        }

    
}





.page-main

{

    background-color:#F6F6F6;
    /*text-align: center;*/
    margin-top: -2rem;
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
    @media (min-width:1024px) {
        padding: 0 6rem;
    }
    /*media query
    padding: 0 5rem;*/
    position: relative;
    
            

        
        /*h5
        {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            

        }*/

        /*h3
        {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            
            
        }

        p
        {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;

        }*/


        .command
        {
            height: 20vh;
            display: grid;
            place-items: center;
        }

        button
        {
            color: #f3f3f3;
            font-weight: 300;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            padding: 1rem 2rem;
            border: none;
            border-radius: 2rem;
            box-shadow: 2px 1px 7px -3px #000000;
            background-image: linear-gradient(to top, rgba(147,86,220,0.9), rgba(255,121,218,0.9));
            transition: transform 200ms;
            margin-top: 1rem;
            justify-content: center;
            margin-bottom: 2rem;
        }

        button:hover
        {
            transform: scale(1.02);
            opacity: 0.9;
        }


        


}



 





 
