@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  /*border: 1px solid;*/
}

body {
  /*background-color:pink;*/
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin: 0;
  padding: 0;
}

main {
  padding: 0 1rem;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*****loader*****/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
header {
  position: relative;
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.2rem;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
  gap: 1rem;
}
.city i {
  font-size: 1.3rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: #f3f3f3;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 7px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
  margin-top: 1rem;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/******LOADER****/
.loader {
  position: fixed;
  display: grid;
  background-color: #f3f3f3;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  place-items: center;
  animation: disappear 100ms 2s forwards;
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
/*.fonctionnement
{
    & ol{


    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width:1024px) {

    }
     }

    & li
    {
        background-color: #F6F6F6;
        padding: 1rem 2rem;
        border: 1px solid red;
        flex-grow: 1;
        border-radius: 1rem;
        box-shadow: 0 0 0.5rem rgb(0 0  0/25%);
    }


}*/
.foncionnement {
  /*background-color: white;*/
  counter-reset: steps;
  margin-bottom: 2rem;
}
.foncionnement ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1021px) {
  .foncionnement ol {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.foncionnement li {
  position: relative;
  list-style-type: none;
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
}
.foncionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: #F6F6F6;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.foncionnement li:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.foncionnement i.fas {
  color: #7E7E7E;
  margin-right: 1rem;
}

.menu {
  margin-bottom: 2rem;
}
.menu h2 {
  margin-bottom: 2rem;
}
.menu .menu__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (max-width: 800px) {
  .menu .menu__card {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menu .menu__card .new {
  position: relative;
}
.menu .menu__card .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #008766;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menu .card {
  /*height: 4rem;
  flex-grow: 1;
  /*gggg
  min-width: 30rem;*/
}
.menu .card .card_img {
  /*background-image: url("../images/restaurants/menu-1.jpg");*/
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
.menu .card .card_img_1 {
  background-image: url("../images/restaurants/menu-1.jpg");
}
.menu .card .card_img_2 {
  background-image: url("../images/restaurants/menu-2.jpg");
}
.menu .card .card_img_3 {
  background-image: url("../images/restaurants/menu-3.jpg");
}
.menu .card .card_img_4 {
  background-image: url("../images/restaurants/menu-4.jpg");
}
.menu .card .card_content {
  background-color: #ffffff;
  position: relative;
  border-radius: 0 0 1rem 1rem;
}
.menu .card .card_content h3 {
  /*margin: 0.5rem;*/
  padding-top: 1.3rem;
  padding-left: 0.9rem;
}
.menu .card .card_content p {
  padding-top: 0.3rem;
  padding-bottom: 1rem;
  padding-left: 0.9rem;
}
.menu .card .card_content i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menu .card .card_content .fas {
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.menu .card .card_content:hover .fas {
  opacity: 1;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem 2rem;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  padding: 1rem 0;
}
footer p {
  padding: 0.4rem;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
  }
  footer h2 {
    order: 2;
    padding-left: 2rem;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: #fff;
}

.banner img {
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

header::before {
  /*display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing:antialiased;
  /*content: "f060";*/
}

.icon-head {
  display: block;
}

.icon-head h1 {
  text-align: center;
  font-family: Shrikhand, "cursive";
}

.icon-head i {
  left: 2rem;
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.menus-grid {
  /*background-color: yellow;*/
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  /*&>*
  {

  }*/
}
.menus-grid h3 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.menus-grid h3::after {
  content: "";
  height: 0.25rem;
  width: 2.5rem;
  background-color: #99E2D0;
  position: absolute;
  top: 1.5rem;
  left: 0;
}

.menus-category {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 1px 7px -3px #c6c4c4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation: appear 0.5s;
}
.menus-category .menu-item {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*background-color: #f3f3f3;*/
}
.menus-category .menu-item .price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus-category .menu-item .menu-description {
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus-category .menu-item .menu-description h4, .menus-category .menu-item .menu-description p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus-category .menu-item .menu-check {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  margin-right: -3rem;
  flex-shrink: 0;
  width: 3rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menus-category .menu-item .menu-check i {
  display: grid;
  place-items: center;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #F6F6F6;
  color: #99E2D0;
}
.menus-category .menu-item:hover .menu-check {
  margin-right: 0;
}

.page-main {
  background-color: #F6F6F6;
  /*text-align: center;*/
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  /*media query
  padding: 0 5rem;*/
  position: relative;
  /*h5
  {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;


  }*/
  /*h3
  {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;


  }

  p
  {
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;

  }*/
}
@media (min-width: 1024px) {
  .page-main {
    padding: 0 6rem;
  }
}
.page-main .command {
  height: 20vh;
  display: grid;
  place-items: center;
}
.page-main button {
  color: #f3f3f3;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 7px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
  margin-top: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.page-main button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}/*# sourceMappingURL=style.css.map */