@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  /*border: 1px solid;*/
}

body {
  /*background-color:pink;*/
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin: 0;
  padding: 0;
}

main {
  /*padding: 0 1rem;*/
  padding: 0;
}

h2 {
  padding: 2rem 0;
  margin: 0;
  /*font-family: "shrikhand",cursive;*/
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.2rem;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  text-align: center;
  padding: 0.5rem;
  gap: 1rem;
}
.city i {
  font-size: 1.3rem;
}

.explorer {
  background-color: #F6F6F6;
  text-align: center;
  height: 260px;
}
.explorer h2 {
  /*margin-top: 1rem;*/
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: #f3f3f3;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 7px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
  margin-top: 1rem;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/******LOADER****/
.loader {
  position: fixed;
  display: grid;
  background-color: #f3f3f3;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  place-items: center;
  animation: disappear 100ms 1s forwards;
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.foncionnement {
  counter-reset: steps;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}
@media (min-width: 1024px) {
  .foncionnement {
    padding: 0 6rem;
  }
}
.foncionnement ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1021px) {
  .foncionnement ol {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.foncionnement li {
  position: relative;
  list-style-type: none;
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
  right: 1rem;
}
.foncionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: #F6F6F6;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.foncionnement li:hover {
  transform: scale(1.02);
  opacity: 0.9;
  background-color: rgb(227, 224, 255);
}
.foncionnement i.fas {
  color: #773fde;
  margin-right: 1rem;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  background-color: #F6F6F6;
  /*margin-bottom: 2rem;*/
  padding: 0 1rem;
  /*.far
         {

             cursor: pointer;
             position: absolute;
             right: 20px;
             font-weight: 400;
             bottom: 20px;
             font-size: 2rem;




             &:hover {
                 animation: fill 0.3s ease-in-out;
                 display: block;
                 opacity: 1;
                 background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                 background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
                 -webkit-background-clip: text;
                 -webkit-text-fill-color:transparent;
                 font-weight: bold;

             }









             /*&:active{

                 background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);

             }







         }*/
}
@media (min-width: 1024px) {
  .menu {
    padding: 0 6rem;
  }
}
.menu h2 {
  margin-bottom: 2rem;
}
.menu .menu__card {
  padding: 1rem 0;
  display: grid;
  /*grid-template-columns: repeat(2,1fr);*/
  gap: 2rem 4rem;
  /*@media (max-width:800px) 
  {
      grid-template-columns: repeat(1,1fr);

  }*/
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1024px) {
  .menu .menu__card {
    grid-template-columns: repeat(2, 1fr);
  }
}
.menu .menu__card .nouv {
  width: 5rem;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 6px 0;
  border-radius: 2px;
  background-color: #99E2D0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #008766;
}
.menu .card {
  /*height: 4rem;
  flex-grow: 1;
  /*gggg
  min-width: 30rem;*/
}
.menu .card .card_img {
  /*background-image: url("../images/restaurants/menu-1.jpg");*/
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-position: center;
}
.menu .card .card_img_1 {
  background-image: url("../images/restaurants/menu-1.jpg");
}
.menu .card .card_img_2 {
  background-image: url("../images/restaurants/menu-2.jpg");
}
.menu .card .card_img_3 {
  background-image: url("../images/restaurants/menu-3.jpg");
}
.menu .card .card_img_4 {
  background-image: url("../images/restaurants/menu-4.jpg");
}
.menu .card .card_content {
  background-color: #ffffff;
  position: relative;
  border-radius: 0 0 1rem 1rem;
}
.menu .card .card_content h3 {
  /*margin: 0.5rem;*/
  padding-top: 1.3rem;
  padding-left: 0.9rem;
}
.menu .card .card_content p {
  padding-top: 0.3rem;
  padding-bottom: 1rem;
  padding-left: 0.9rem;
}
.menu .card .card_content i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menu .card .card_content i {
  position: absolute;
  right: 1rem;
  top: 50%;
}
.menu .hello {
  position: relative;
}
.menu .far {
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-weight: 400;
  bottom: 40px;
  font-size: 2rem;
}
.menu #mycheck:checked + #btn1 .far {
  animation: fill 0.3s ease-in-out;
  display: block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.menu #mycheck {
  visibility: hidden;
}
.menu #mychecks:checked + #btn2 .far {
  animation: fill 0.3s ease-in-out;
  display: block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.menu #mychecks {
  visibility: hidden;
}
.menu #mychecke:checked + #btn3 .far {
  animation: fill 0.3s ease-in-out;
  display: block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.menu #mychecke {
  visibility: hidden;
}
.menu #mycheckz:checked + #btn4 .far {
  animation: fill 0.3s ease-in-out;
  display: block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #008766;
  font-weight: bold;
}
.menu #mycheckz {
  visibility: hidden;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem 2rem;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  padding: 1rem 0;
}
footer p {
  padding: 0.4rem;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
  }
  footer h2 {
    order: 2;
    padding-left: 2rem;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.banner img {
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

header::before {
  /*display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing:antialiased;
  /*content: "f060";*/
}

.icon-head {
  display: block;
}

.icon-head h1 {
  text-align: center;
  font-family: Shrikhand, "cursive";
}

.icon-head i {
  left: 2rem;
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
}

.card_second {
  display: flex;
  justify-content: center;
  right: 2rem;
  position: relative;
  /*.far
  {

      cursor: pointer;
      &:hover {
          animation: fill 0.3s ease-in-out;
          display: inline-block;
          opacity: 1;
          background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
          background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
          -webkit-background-clip: text;
          -webkit-text-fill-color:transparent;
          font-weight: bold;
      }
  }*/
}
.card_second h2 {
  font-family: "shrikhand", cursive;
}
.card_second i {
  font-size: 2rem;
  position: absolute;
  /*right: 1rem;*/
  top: 50%;
  transform: translateY(-50%);
}
.card_second #mycheckp:checked + #btn5 .far {
  animation: fill 0.3s ease-in-out;
  display: block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.card_second #mycheckp {
  visibility: hidden;
}

.menus-grid {
  /*background-color: yellow;*/
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  /*&>*
  {

  }*/
}
.menus-grid h3 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.menus-grid h3::after {
  content: "";
  height: 0.25rem;
  width: 2.5rem;
  background-color: #99E2D0;
  position: absolute;
  top: 1.5rem;
  left: 0;
}

.menus-category {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 1px 7px -3px #c6c4c4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation: appear 0.25s;
  animation-fill-mode: both;
}
.menus-category:nth-child(1) {
  animation-delay: 90ms;
}
.menus-category:nth-child(2) {
  animation-delay: 180ms;
}
.menus-category:nth-child(3) {
  animation-delay: 270ms;
}
.menus-category:nth-child(4) {
  animation-delay: 360ms;
}
.menus-category:nth-child(5) {
  animation-delay: 450ms;
}
.menus-category:nth-child(6) {
  animation-delay: 540ms;
}
.menus-category:nth-child(7) {
  animation-delay: 630ms;
}
.menus-category:nth-child(8) {
  animation-delay: 720ms;
}
.menus-category:nth-child(9) {
  animation-delay: 810ms;
}
.menus-category:nth-child(10) {
  animation-delay: 900ms;
}
.menus-category:nth-child(11) {
  animation-delay: 990ms;
}
.menus-category:nth-child(12) {
  animation-delay: 1080ms;
}
.menus-category:nth-child(13) {
  animation-delay: 1170ms;
}
.menus-category .menu-item {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*background-color: #f3f3f3;*/
}
.menus-category .menu-item .price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus-category .menu-item .menu-description {
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus-category .menu-item .menu-description h4, .menus-category .menu-item .menu-description p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus-category .menu-item .menu-check {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  margin-right: -3rem;
  flex-shrink: 0;
  width: 3rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menus-category .menu-item .menu-check i {
  display: grid;
  place-items: center;
  width: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #F6F6F6;
  color: #99E2D0;
}
.menus-category .menu-item:hover .menu-check {
  margin-right: 0;
}

.page-main {
  background-color: #F6F6F6;
  /*text-align: center;*/
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  /*media query
  padding: 0 5rem;*/
  position: relative;
  /*h5
  {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;


  }*/
  /*h3
  {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;


  }

  p
  {
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;

  }*/
}
@media (min-width: 1024px) {
  .page-main {
    padding: 0 6rem;
  }
}
.page-main .command {
  height: 20vh;
  display: grid;
  place-items: center;
}
.page-main button {
  color: #f3f3f3;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 7px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
  margin-top: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.page-main button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");*//*# sourceMappingURL=style.css.map */